* {
    margin: 0px;
    padding: 0px;
}


body { 
    background-color: rgb(120, 120, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container{
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(background.png);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 80vh;
   
    border-radius: 5px;
    h1{
        margin-top: 15px;
    }
}
.choice-container button {
    background: none;
    border: none;
   
    cursor: pointer;   
}

.choice-container img { 
    width: 150px;
    height: auto;
    
}

.choice-container { 
    display: flex;
  
    width: 60vw;
    justify-content: space-between;

}

.result {
    padding: 10px;
    display: flex;
    width: 100vw;
    justify-content: center;
    gap: 150px;
}

.start-button {
    background-color: rgb(82, 82, 209);
    color: white;
    padding: 30px 60px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
    
}

.score-board {
    background-color: rgb(66, 64, 64);
    color: white;
    padding: 60px 120px;
    border: none;
    border-radius: 5px;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button:hover {
    animation: hoverAnimation 0.5s ease-in-out forwards;
}

@keyframes hoverAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.move {
    display: flex;
}